[submodule "src/lib/CommonUtils"]
	path = src/lib/CommonUtils
	url = https://github.com/memcallen/CommonUtils.git
[submodule "src/lib/matrix-toolkits-java"]
	path = src/lib/matrix-toolkits-java
	url = https://github.com/fommil/matrix-toolkits-java.git
